/* MessagesPage.css */

.messages-container {
  text-align: center;
  padding: 20px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.user {
  background-color: #18A5A7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user:hover {
  background-color: #085c5d;
}

.message-window {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.message-header h3 {
  color: #05445E;
}

.message {
  margin-bottom: 10px;
}

.sender {
  font-weight: bold;
  color: #333;
}

.message-input {
  margin-top: 20px;
}

.message-input input[type="text"] {
  width: calc(100% - 70px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.message-input button {
  background-color: #18A5A7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message-input button:hover {
  background-color: #085c5d;
}
